<h1>Chat room</h1>

<div id="js-messages">
  <% for message in @messages do %>
      <p><%= message.content %></p>
  <% end %>
</div>

<form>
  <label>Say</label><br>
  <input type="text" id="messages_sender">
</form>